<header class="header js-header">
  <div class="header-wrapper">
    
    <button class="button-search js-button-search" type="button">
      <a class="text-search-button" href="#main" title=" Search-button">Search
      </a>
    </button>
   
    <input
      class="input-text js-input-text"
      type="text"
      placeholder="Busca aquí tu serie"
    />
    <h1 class="h1">tu pantalla en la playa.</h1>
    <h2 class="h2">Este trabajo fue realizado durante el confinamiento domiciliario por pandemia de COVID-19 en mayo de 2020, es posible que se intuya por el tema elegido como background-image</h2>
  </div>
</header>
