body {
  width: 100vw;
  height: 100vh;
  font-family: "Oswald", sans-serif;
  border-color: inherit;
  border: none;
  background-color: whitesmoke;
}
.favourite-styles {
  margin-top: 20px;
  background-color: #68b9c7;
}
.main {
  width: 100vw;
  height: 100hv;
  display: flex;
  flex-direction: column;
}
//LISTA DE ELEMENTOS BUSCADOS
.data-section {
  width: 100%;
  margin-top: 0px;
  margin-right: 50px;
  display: flex;
}
.data-list {
  width: 100%;
  min-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  text-align: center;
  color: #34343e;
  font-size: 17px;
  padding-top: 30px;
  margin-left: 47%;
  margin-right: 20px;
  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    text-align: center;
    @media all and (min-width: 768px) {
      width: 100%;
    }
    @media all and (min-width: 1200px) {
      width: 80%;
    }
    h2 {
      padding: 10px;
      font-size: 20px;
      text-align: center;
      margin-bottom: 20px;
      @media all and (min-width: 768px) {
        font-size: 40px;
      }
    }
    img {
      width: 100%;
      border: 1px grey solid;
      margin-top: 20px;
      min-width: 85%;
      border-radius: 10px;
      margin-left: 10px;
      margin-right: 10px;
      @media all and (min-width: 768px) {
        width: 70%;
        min-width: 60%;
      }
      @media all and (min-width: 1200px) {
      }
    }

    @media all and (min-width: 1200px) {
    }
  }

  @media all and (min-width: 768px) {
    width: 95%;
    margin-right: 100px;
    padding-top: 60px;
    font-size: 30px;
  }
  @media all and (min-width: 1200px) {
    font-size: 40px;
  }
}
//LISTA DE ELEMENTOS FAVORITOS Y BOTONES
.favourite-section {
  margin-top: 0px;
  margin-right: 50px;
  padding-left: 40px;
}

.favourite-list {
  width: auto;
  max-width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  list-style-type: none;
  text-align: center;
  color: #68b9c7;
  font-size: 15px;
  padding-top: 30px;
  margin-right: 40%;
  margin-left: 20px;
  li {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      padding: 10px;
      font-size: 15px;
      text-align: center;
      @media all and (min-width: 768px) {
        font-size: 30px;
      }
      @media all and (min-width: 1200px) {
        font-size: 40px;
      }
    }
    img {
      border: 1px grey solid;
      width: auto;
      max-width: 90%;
      margin-top: 10px;
      border-radius: 10px;
      margin-left: 10px;
      margin-right: 10px;
      @media all and (min-width: 768px) {
        max-width: 70%;
      }
      @media all and (min-width: 1200px) {
        margin-left: 20px;
        max-width: 70%;
      }
    }

    .reset-button {
      font-weight: 350;
      font-size: small;
      background-color: #e0dede;
      color: #68b9c7;
      border: 1px grey solid;
      border-radius: 10px;
      padding: 4px;
      margin-top: 10px;

      @media all and (min-width: 768px) {
        font-size: 25px;
        width: 100px;
        padding: 2px;
        margin: 20px;
      }
      @media all and (min-width: 1200px) {
        width: 100%;
        font-size: 35px;
      }
    }
    .x-button {
      color: white;
      background-color: #68b9c7;
      font-size: 15px;
      width: 25px;
      height: 25px;
      transform: translateY(-2px);
      border-radius: 50%;
      margin-left: 20px;

      @media all and (min-width: 768px) {
        font-size: 20px;
        width: 35px;
        height: 35px;
      }
    }
  }
  @media all and (min-width: 768px) {
    padding-top: 60px;
    margin-left: 50px;
    width: 80%;
    font-size: 30px;
  }
  @media all and (min-width: 1200px) {
    max-width: 40%;
    font-size: 40px;
    margin-left: 20px;
  }
}
